# Ignore all files by default, but not the directories
*
!*/

######## Unignore specific files ########
# CMake
!CMakeLists.txt

# Source files
!*.h
!*.cpp
!*.hpp
!*.c
!*.cc
!*.cxx
!*.hxx
!*.inl
!*.ipp
!*.tpp
!*.tcc
!*.txx
!*.ixx

# Docs
!*.md

# Automation scripts
!*.sh
!*.bat
!*.cmd
!*.ps1

 # Shader files
!*.vert
!*.frag
!*.geom
!*.tesc
!*.tese
!*.comp
!*.spv

######## Reignore the build directory ########
*[Dd]ebug/
*[Rr]elease/
build/
